.top-container{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding-top: 100px;
}
body{
    margin: 0;
    text-align: center;
    background-color: #CEFFF5;
    font-family: cursive;
    
}
h1{
    margin: 50px auto 0 auto;
   font-family: 'Cedarville Cursive', cursive;
    font-size: 5.635rem;
    color: #66BFBF;
}
h3{
    font-family: sans-serif;
    color: #11999E;
}
h2{
    font-family: 'Monsterrat',sans-serif;
    color: #66BFBF;
}
.middle-container{

}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 0;
    text-decoration: none;

}
.bottom-cloud{
    position: absolute;
    right: 500px;
    bottom: 300px;
}
.mountain{
    text-align: center;
}
.top-cloud{
    position: absolute;
    left: 500px;
    top: 50px;
}
hr{ border-style: none none;
                border-top-style: dotted;
                border-width: 5px;
                height: 0px;
                width: 30px;
            border-color: grey;
            }
.img{
    width: 15%;
}
.img1{
    width: 20%; 
    float: left;
    margin-right: 30px;
}
.img2{
    width: 19%;
    float: left;
    margin-right: 30px;
}
.img3{
    width: 20%;
    float: left;
    margin-right: 30px;
    
}
.para{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    letter-spacing: 2;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.content{
    text-align: left;
    line-height: 1;
}
.contact{
   background-color: aqua;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    line-height: 5;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright
{
    color: white;
}
.footer-link{
    text-decoration: none;
    color: #11999E;
}
.footer-link:hover{
    background-color: white;
    margin: 0;
}